.container {
  display: flex;
  flex-direction: column;
  border: solid 0.5rem #0073cf;
  background-color: #0073cf;
  border-radius: 1.5rem 1.5rem 0 0;
}

.h1 {
  color: #0073cf;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem 1rem 0 0;
}

.buttonContainer {
  display: flex;
  align-items: center;
  padding: 0.2rem 2rem;
}

.imageSelector {
  width: 100%;
  height: auto;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.button {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: #b71234;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.button:hover {
  cursor: pointer;
}

.imageContainer {
  background-color: white;
  padding: 0.5rem;
  height: 62vh;
  width: auto;
}

.image {
  width: auto;
  height: 60vh;
}

.predictionContainer {
  /* display: none; */
  margin-top: 20px;
  font-size: 16px;
  color: white;
}
.predictionContainer ul {
  list-style-type: none;
  padding: 0;
}
.predictionContainer li {
  margin-bottom: 5px;
}

.quoteContainer {
  color: white;
  font-weight: bold;
}
